 <!-- Footer section -->
 <footer>
    <div class="m-0 w-100 px-md-5 pt-5" style="background-color: black;">
        <div class="row w-100 m-0">
            <div class="col-xl-12">
                <div class=" d-flex flex-row justify-content-center ">
                    <div class=" mx-2">
                        <i class="fab text-secondary fa-instagram fa-lg m-3"></i>

                    </div>
                    <div class=" mr-2">
                        <i class="fab text-secondary fa-twitter fa-lg m-3"></i>

                    </div>
                    <!-- <div class=" mr-2">
                        <i class="fab text-secondary fa-facebook fa-lg m-3"></i>
                       
                    </div> -->
                    <div class=" mr-2">
                        <i class="fab text-secondary fa-linkedin-in fa-lg m-3"></i>

                    </div>
                </div>

            </div>

            <div class="col-xl-12">
                <div class=" d-flex flex-row justify-content-center mb-5">
                    <a class="nav-link text-light font-weight-bold" href="#">Home</a>
                    <a class="nav-link text-light font-weight-bold" href="#">Scan</a>
                   
                </div>

            </div>


        </div>


    </div>

    <div class=" p-2" style="background-color: #990000;">
        <div class=" d-flex justify-content-center pt-3">
            <p class=" text-light">Copyright ©2020 All rights reserved | <i class="far fa-heart"></i> by Rexy</p>
        </div>
    </div>
</footer>